@import "tailwindcss";
body {
  font-family: sans-serif;
  background: #1E1C1B;
}
.scroll-hide {
  scrollbar-width: none;
  -ms-overflow-style: none; 
}

.scroll-hide::-webkit-scrollbar {
  display: none; 
}